// Nextflow configuration for structured SIR simulations pipeline

manifest {
  name        = 'structured-sims-sir'
  description = 'Generate BEAST2 XMLs from contact matrices for structured SIR simulations'
  author      = 'P. Weidemuller'
  nextflowVersion = '!>=22.10.0'
}

// Default parameters
// override via -params-file or -with-param
params {
  sample_seed = 42
  outdir      = 'results/'
  population_sizes = '50000 50000'
  ndemes = 2
  maxTime = 0.9
  endsWhen = 300
  chainlength = 1500000
  log_burnin = 30
  tree_burnin = 30
  logcombiner_resample = 1000
  conda_env = null  // Set per profile (local uses conda, wynton uses containers)
}

// Common process configuration
// process {
   // errorStrategy = 'retry'
   // maxRetries = 2
// }

profiles {
  // Local development profile using Conda
  local {
    conda {
        enabled = true
    }
    workDir = '/Users/pweidemuller/Documents/nextflow_work'

    process {
        executor = 'local'
    }

    params {
        conda_env = "/Users/pweidemuller/miniconda3/envs/biopython_env"
        beast_path = "/Applications/BEAST 2.7.7/bin/beast"
        logcombiner_path = "/Applications/BEAST 2.7.7/bin/logcombiner"
        treeannotator_path = "/Applications/BEAST 2.7.7/bin/treeannotator"
    }
  }

  // Wynton cluster profile using Apptainer
  wynton {
    apptainer {
      enabled = true
      autoMounts = true
    }
    
    // Set work directory to scratch space
    workDir = "/wynton/scratch/${System.getenv('USER')}/nextflow_work"

    params {
        beast_path = "/wynton/home/mueller/pweide/beast2.7/beast/bin/beast"
        logcombiner_path = "/wynton/home/mueller/pweide/beast2.7/beast/bin/logcombiner"
        treeannotator_path = "/wynton/home/mueller/pweide/beast2.7/beast/bin/treeannotator"
    }
    
    // Configure the SGE executor
    process {
      executor = 'sge'
      // scratch = true
      stageInMode = 'symlink'
      stageOutMode = 'move'
      clusterOptions = '-S /bin/bash -o job.log -e job.err'
      penv = 'smp'
      
      // Default resource requirements
      cpus = 1
      memory = '10 GB'
      time = '1h'
    }
    process {
      withName:SAMPLE_SIMPARAMS {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '2GB'
                time   = '5min'
            }
      withName:MAKE_SIM_XML {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '2GB'
                time   = '5min'
            }
      withName:RUN_REMASTER {
                cpus   = 1
                memory = '10GB'
                time   = '10min'
            }
      withName:PLOT_TREES_GROUNDTRUTH {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/r-tidyverse.sif'
                cpus   = 1
                memory = '10GB'
                time   = '10min'
            }
      withName:PLOT_TREES_MASCOT {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/r-tidyverse.sif'
                cpus   = 1
                memory = '10GB'
                time   = '10min'
            }
      withName:SIMULATE_DATASTREAMS {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '2GB'
                time   = '10min'
            }
      withName:MAKE_MASCOT_XML {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '2GB'
                time   = '10min'
            }
      withName:RUN_MASCOT {
                cpus   = 1
                memory = '12GB'
                time   = '40h'
                // Retry failed jobs up to 2 times
                errorStrategy = 'retry'
                maxRetries = 2
                clusterOptions = "-S /bin/bash -o job.log -e job.err -pe smp 1 -l scratch=10G -l x86-64-v=4 -l h_vmem=20G"
            }
      withName:COMBINE_LOGS {
                cpus   = 1
                memory = '10GB'
                time   = '10min'
            }
      withName:COMBINE_TREES {
                cpus   = 1
                memory = '10GB'
                time   = '10min'
            }
      withName:ANNOTATE_TREES {
                cpus   = 1
                memory = '20GB'
                time   = '2h'
                clusterOptions = "-S /bin/bash -o job.log -e job.err -pe smp 1 -l scratch=18G -l x86-64-v=4 -l h_vmem=20G"
            }
      withName:ANALYSE_POSTERIORS {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '8GB'
                time   = '10min'
            }
      withName:CONCATENATE_HPD_VALIDATION {
                cpus   = 1
                memory = '10GB'
                time   = '10min'
      }
      withName:PLOT_HPD_VALIDATION {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '10GB'
                time   = '10min'
      }
      withName:CALCULATE_ESS {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '4GB'
                time   = '10min'
      }
      withName:AGGREGATE_ESS {
                cpus   = 1
                memory = '2GB'
                time   = '5min'
      }
      withName:PLOT_ESS_HEATMAP {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '4GB'
                time   = '10min'
      }
      withName:MAKE_INDIVIDUAL_SIM_FIGURES {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '8GB'
                time   = '10min'
      }
      withName:COMBINE_HPD_NE_BY_MODEL {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '10GB'
                time   = '10min'
      }
      withName:QUANTIFY_INFORMATION_CONTENT {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '8GB'
                time   = '10min'
      }
      withName:MAKE_FIGURE_TRUE_VS_ESTIMATE {
                container = '/wynton/home/mueller/pweide/structured_sims/containers/biopython.sif'
                cpus   = 1
                memory = '8GB'
                time   = '10min'
      }
    }
    
    executor {
      queueSize = 500
    }
  }
}

// Timeline and trace reports
timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/execution_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/execution_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.outdir}/dag.png"
}
